In [11]:
# ! pip install tensorflow

In [9]:
# Importação de bibliotecas
import numpy as np
import pandas as pd
import tensorflow as tf

In [10]:
# Versão do códio
tf.__version__

'2.5.0'

In [13]:
# Importando base de dados
dataset = pd.read_csv('Churn_Modelling.csv')

In [15]:
dataset.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [16]:
# Lendo 
dataset.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [ ]:
# Exemplo
x = dataset.iloc[:,1:2].values # Essa função pega todos os valores da coluna 1 até a coluna 2
y = dataset.iloc[:,2].values # Essa função pega todos os valores da coluna 2

In [20]:
X  = dataset.iloc[:, 3:13].values # Essa função pega todos valores de todas as colunas de 2 até 12
Y = dataset.iloc[:, 13].values # Essa função pega todos valores da coluna 13
print("X ..\n",X)
print("y ..\n",Y)

X ..
 [[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
y ..
 [1 0 1 ... 1 1 0]

In [26]:
# Transformando dados categóricos em binários
# coluna de gênenro ( 2 + 3 )
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
X[:,2] = le.fit_transform(X[:,2])
print(X[:,2])

[0 0 0 ... 0 1 0]

In [34]:
# coluna Geography ( 2 + 3 )

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [1])], remainder = 'passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[1.0 0.0 1.0 ... 1 1 101348.88]
 [1.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 1.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 1.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 1.0 ... 1 0 38190.78]]

In [36]:
# Dividindo o dataser em conjunto de treinamento e conjunto de teste
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [38]:
# Feature Scaling  ajustando escalas
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [39]:
np.shape(X_train)

(8000, 15)

In [40]:
X_train

array([[ 0.5698444 , -0.5698444 ,  0.5698444 , ...,  0.64259497,
        -1.03227043,  1.10643166],
       [-1.75486502,  1.75486502, -1.75486502, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [ 0.5698444 , -0.5698444 ,  0.5698444 , ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [ 0.5698444 , -0.5698444 ,  0.5698444 , ...,  0.64259497,
        -1.03227043,  1.41231994],
       [ 0.5698444 , -0.5698444 ,  0.5698444 , ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [-1.75486502,  1.75486502, -1.75486502, ...,  0.64259497,
        -1.03227043,  0.32472465]])

In [ ]:
# Construção ANN!

In [ ]:
ann = tf.keras.models.Sequential()